- content_for(:title, "Действия пользователей")
.container
  .row
    .col-md-7
      %h2 Активность в системе
      .activity-log= render partial: 'compy', collection: @compies
    .col-md-4.col-md-offset-1
      %h2 Пользователи онлайн
      .online-users= render partial: 'users/user_line', collection: @user_lines