- if policy(:user).index?
  = link_to 'Новый', new_user_path, class: 'btn btn-info'
  %table.table.table-stripped.table-hover
    %tr
      %th Электропочта
      %th
    = render @users
- else
  %p У вас нет прав на просмотр данного содержимого