$small-color: #98a6ad;
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 15px;

  .avatar {
    position: relative;

    img {
    }

    .status {
      border-radius: 100%;
      position: absolute;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
      width: 12px;
      height: 12px;
      border: 2px white solid;
    }

    .on {
      background-color: #27c24c;
    }
  }

  small {
    color: $small-color;
  }
}