<footer>
<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-4 col-sm-4">
      <h4>Компетенции</h4>
      <ul>
        <li><a href="#">Личностные</a></li>
        <li><a href="#">Профессиональные</a></li>
        <li><a href="#">Термины</a></li>
        <li><a href="#">Инструкции</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-4 col-sm-4">
      <h4>Описание</h4>
      <ul>
        <li><a href="#">О проекте</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Терминология</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-4 col-sm-4">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-vkontakte"></i></a></li>
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+7 (917) 12 34 231</strong><br></li>
        <li>Вопросы? <a href="#">info@profport.org</a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_left"><span>©</span> 2013-<%= Date.current.year %></div>
</footer>