<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1>ПрофПорт-Образование</h1>
        <p class="lead boxed ">Знаю, что делал. Делал, что знаю</p>
        <p class="lead">
          Мы живём в новой логике социального поведения. Что вынуждает нас быть полезными другим и прокачивать свои личностные и профессиональные компетенции.
        </p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->